server:
  port: 8083

spring:
  application:
    name: appointment-service

  datasource:
    url: jdbc:postgresql://localhost:5432/hair_appointments
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: users-service
              uri: lb://USERS-SERVICE
              predicates:
                - Path=/auth/**,/users/**
            - id: appointment-service
              uri: lb://APPOINTMENT-SERVICE
              predicates:
                - Path=/appointments/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/